@media (min-width: 737px) {

  body {
    margin-top: 100px;
  }

  main {
    border-radius: 24px; 
    margin-top: 100px;
    max-width: 1000px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
    padding-left: 20px;
    width: 50%;
  }

  .right-side {
    width: 50%;
  }

  .tip-selector-form {
    margin-top: 44px;
  }

  .tip-selector-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .number-of-people-form {
    margin-top: 44px;
  }

  .result-container {
    height: 450px;
    margin-left: 48px;
    padding: 0 40px;
  }

  .tip-amount,
  .total {
    font-size: 48px;
  }

  .result-container div {
    margin-top: 56px;
  }

  .result-container > button {
    margin-top: 168px;
  }
}