:root {
  /* ## Colors */

  /* ### Primary */

  --strongCyan: hsl(172, 67%, 45%);
  --strongCyanHover: hsl(172, 100%, 79%);

  /* ### Neutral */

  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  margin: 0;
}

body {
  align-items: center;
  background-color: var(--lightGrayishCyan);
  display: flex;
  flex-direction: column;
}

main {
  align-items: center;
  background-color: white;
  display: flex;
  padding: 32px 32px;
}

.bill-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  color: var(--darkGrayishCyan);
}

input {
  background-color: var(--veryLightGrayishCyan);
  border: none;
  border-radius: 4px;
  color: var(--veryDarkCyan);
  cursor: pointer;
  font-size: 24px;
  margin-top: 4px;
  padding: 4px 20px;
  text-align: right;
}

input:hover {
  outline: 2px solid var(--strongCyan)
}

input:focus {
  caret-color: var(--strongCyan);
  outline-color: var(--strongCyan);
}

.bill-form > input {
  background-image: url(../images/icon-dollar.svg);
  background-position: left;
  background-position-x: 20px;
  background-repeat: no-repeat;
}

.tip-selector-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tip-selector-grid {
  display: grid;
  column-gap: 16px;
  margin-top: 16px;
  row-gap: 16px;
}

.tip-button {
  background-color: var(--veryDarkCyan);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-size: 24px;
}

.tip-selector-grid > button:hover {
  background-color: var(--strongCyanHover);
  color: var(--veryDarkCyan);
}

.number-of-people-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.number-of-people-form > input {
  background-image: url(../images/icon-person.svg);
  background-position: left;
  background-position-x: 16px;
  background-repeat: no-repeat;
}

.number-of-people-container {
  display: flex;
  justify-content: space-between;
}

.number-of-people-container p {
  color: rgba(255, 115, 73, 0.781);
}

.hidden {
  display: none;
}

.result-container {
  background-color: var(--veryDarkCyan);
  border-radius: 16px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.tip-amount-container,
.total-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.info {
  font-size: 15px;
  letter-spacing: 1px;
}

.result-container span {
  color: var(--grayishCyan);
  font-size: 12px;
}

.tip-amount,
.total {
  color: var(--strongCyan);
}

.reset-button {
  background-color: var(--strongCyan);
  border: none;
  border-radius: 4px;
  color: var(--veryDarkCyan);
  font-size: 20px;
  padding: 10px;
  opacity: 0.2;
  text-transform: uppercase;
  transition: box-shadow .05s;
}

.activated {
  cursor: pointer;
  opacity: 1;
}

.activated:hover {
  background-color: var(--strongCyanHover);
}

.activated:active {
  box-shadow: 0 0 40px var(--strongCyan);
}

.is-toggled {
  background-color: var(--strongCyan);
}