@media (max-width: 736px) {

  body {
    margin-top: 40px;
    height: 100vh;
  }

  main {
    border-radius: 24px 24px 0 0;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 104%;
  }

  .tip-selector-form {
    margin-top: 32px;
  }

  .tip-selector-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .number-of-people-form {
    margin-top: 32px;
  }

  .result-container {
    margin-top: 32px;
    padding: 20px;
  }

  .tip-amount,
  .total {
    font-size: 32px;
  }

  .result-container div {
    margin-top: 24px;
  }

  .result-container > button {
    margin-top: 24px;
  }
}